<configuration>
   <appSettings>
     <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
     <add key="DJANGO_SETTINGS_MODULE" value="mysite.settings" />
   </appSettings>
   <system.webServer>
     <rewrite>
		<rules>
			<clear />
			<rule name="Redirect to https" stopProcessing="true">
				<match url="http://*.*" />
				<conditions>
					<add input="{HTTPS}" pattern="off" ignoreCase="true" />
				</conditions>
				<action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
			</rule>
		</rules>
	</rewrite>
	<handlers>
         <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python36\python.exe|C:\Python36\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
     </handlers>
  </system.webServer>
</configuration>
