<configuration>
   <appSettings>
     <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
     <add key="DJANGO_SETTINGS_MODULE" value="mysite.settings" />
   </appSettings>
   <system.webServer>
     <handlers>
         <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python36\python.exe|C:\Python36\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
     </handlers>
	 <rewrite>
	  <rules>
	   <rule name="Redirect to https">
		<match url="(.*)"/>
		<conditions>
		 <add input="https://137.117.33.138/*" pattern="Off"/>
		</conditions>
		<action type="Redirect" url="https://137.117.33.138/"/>
	   </rule>
	  </rules>
	 </rewrite>
  </system.webServer>
</configuration>
